body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
}

table {
  margin: 0 auto;
}

tr {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
}

td {
  padding: 10px;
  border: 2px solid black;
  font-size: 14px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  border: 2px solid black;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}